
<label>Server Name</label>
<input type="text" [(ngModel)]="serverName" class="form-control"/>
<!--<p>{{serverName}}</p>-->
<br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreate()">New server</button>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>
<p *ngIf="serverCreated; else noServer">A server was created with the name of {{serverName}}</p>
<naw-server *ngFor="let server of servers"></naw-server>

<button (click)="showDetails()">Display Details</button>
<p *ngIf="displayDetails">
    These are the secrets for the servers
</p>


    <div *ngFor="let c of counter">
        <div [ngStyle]="{backgroundColor:getColor(c)}" [ngClass]="{itemColor: c >= 5 }">{{c}}</div>
    </div>

